<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075370035740-alpsoml27lp8r18d66id3csj3t79pj3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075370035740-alpsoml27lp8r18d66id3csj3t79pj3d</string>
	<key>API_KEY</key>
	<string>AIzaSyBDp_h6MsYz8ZuE52jRGxIZgpNbHNHzCKw</string>
	<key>GCM_SENDER_ID</key>
	<string>1075370035740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c.Admin-E-Commerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-8585d</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-8585d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075370035740:ios:4fdd7f6d541e29251e2dd9</string>
</dict>
</plist>